<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>trippin'asia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/e0e9a80a94.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# フォント %>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>      

    <header class="header">   
             <div class="inner">
        <div class="nav">
          <div class="nav__left">
          <%= link_to image_tag("IMG-2236.PNG", class: :logo), root_path %>
          </div>
          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "Log-Out", destroy_user_session_path, method: :delete, class: :nav__logout %>
              <%= link_to "Post Photo", new_prototype_path, class: :nav__btn %>
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "Login", new_user_session_path, class: :nav__log_in %>
              <%= link_to "Sign-Up", new_user_registration_path, class: :nav__sign_up %>
            </div>
          <% end %>
        </div>  

      <%# 追加実装 %>
        <%# </div> %>
        <%# <div class="nav__rooms">
              <%= link_to "trippin'asia", abouts_path, class: :nav__about %>
              <%# <%= link_to "Fun", "#", class: :nav__fun %>
              <%# <%= link_to "Hotel", "#",class: :nav__hotel %> 
              <%# <%= link_to "Foods", "#", method: :delete, class: :nav__foods %> 
              <%# <%= link_to "Goods", "#", class: :nav__negative%> 
        <%# </div>  %>
        
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">trippin'asia the first application</p>
    </footer>
  </body>
</html>