<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>trippin'asia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/e0e9a80a94.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">            
        <div class="nav">
          <%= link_to image_tag("IMG_3477 (1) (1) 2.png", class: :logo), root_path %>
          <div class="nav__left">
          </div>
          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "Log-Out", destroy_user_session_path, method: :delete, class: :nav__logout %>
              <%= link_to "Post Photo", new_prototype_path, class: :nav__btn %>
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "Login", new_user_session_path, class: :nav__log_in %>
              <%= link_to "Sign-Up", new_user_registration_path, class: :nav__sign_up %>
            </div>
          <% end %>
        </div>      
      <div class="inner">
      
        </div>
        <div class="nav__rooms">
              <%= link_to "trippin'asia", "https://www.google.co.jp/", class: :nav__about %>
              <%= link_to "Fun", "#", class: :nav__fun %>
              <%= link_to "Hotel", "#",class: :nav__hotel %>
              <%= link_to "Foods", "#", method: :delete, class: :nav__foods %>
              <%= link_to "Goods", "#", class: :nav__negative%>
        </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">trippin'asia the first application</p>
    </footer>
  </body>
</html>